@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
:root {
    --primary-color: #005377;
    --secondary-color: #D5C67A;
    --accent1-color:#17BEBB;
    --accent-color:#916953 ;

    --heading-font: 'Ubuntu' , serif;
    --paragraph-font: 'Ubuntu', serif;

    --nav-background-color:  #005377;
    --nav-link-color: #D5C67A;
    --nav-hover-link-color: #17BEBB;
    --nav-hover-background-color: #916953;
}
h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
    color: var(--primary-color)
}
p {
    padding: 20px;
    font-family: var(--paragraph-font);
    color: var(--primary-color)
}
.sociallinks{
    text-decoration: none;
   }
.sociallinks img{
    width: 50px;
    height: auto;

}   
.hero img{
    display: block;
    width: 100%;
    height: auto;
    position: relative;
}
h1{
    position: absolute;
    top: 150px;
    left: 100px;
    font-family: var(--heading-font);
    color: var(--accent1-color)
}
article{
    position: absolute;
    clear:both;
    background-color: var(--primary-color);
    font: var(--secondary-color);
}
article img{
   position: absolute;
    float: right;
    width: 250px;
    height: auto;
    top: 100px;
    right: 100px;
}
*{
    max-width:100%;
}

header {
display: grid;
grid-template-columns:175px 1fr;
grid-template-rows: repeat(3, 52px);
column-gap: 10px;
padding: 20px;
background-color: var(--accent1-color);

}
header img{
    grid-column: 1/2;
    grid-row: 1/4;
    align-self: center;
    justify-self: start;
}
header nav{
    grid-row: 2/3;   
    grid-column: 2/3; 
    display: flex;
    justify-content: space-around;
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
 }
header nav a:link, nav a:visited {
    color: var(--nav-link-color)
}
header nav a:hover{
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
footer{
    width: 900px;
}
 footer nav{
float: right;
}
section img{
    display: flex;
    width: 300px;
    height: auto; 
    align-content: space-around;
}