@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
:root {
    --primary-color: #005377;
    --secondary-color: #D5C67A;
    --accent1-color:#17BEBB;
    --accent-color:#916953 ;

    --heading-font: 'Ubuntu' , serif;
    --paragraph-font: 'Ubuntu', serif;

    --nav-background-color:  #005377;
    --nav-link-color: #D5C67A;
    --nav-hover-link-color: #17BEBB;
    --nav-hover-background-color: #916953;
}
h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
    color: var(--primary-color)
}
p {
    padding: 20px;
    font-family: var(--paragraph-font);
    color: var(--primary-color)
}
.sociallinks{
    text-decoration: none;
   }
.sociallinks img{
    width: 50px;
    height: auto;

}   
.hero img{
    display: block;
    width: 100%;
    height: auto;
    position: relative;
}
h1{
    position:absolute;
    top: 150px;
    left: 100px;
    font-family: var(--heading-font);
    color: var(--accent1-color)
}
article{
    position: absolute;
    clear:both;
}
article img{
    position: absolute;
    float: right;
    width: 15px;
    height: auto;
    top: 10px;
    right: 10px;
}

* {
   max-width: fit-content;
}